header{background-color: black;
    
    text-align: center;
  padding-bottom: 10px;}
  @font-face {font-family: quicksand;
                 src: url('quicksand/Quicksand-Regular.otf');}

ul li{
   width: 15%;
  height: 10px;
  padding:5px;
  display: inline-table;
  text-align: center;
  background-color: black;
  
  left: 0;
  
  

}
ul li a{
	color:white;
	text-decoration: none;
}
body{font-family:quicksand;
	color: white;
	  margin:auto;
  margin-top:35px;
  background-color:rgb(240,240,240,0.7);
  height:auto;
  max-width:1150px;
	}
.logo{
	width: 15%;
	
	margin-right: 0px;
	margin-left: -50px;
	margin-top: 0;
	margin-bottom: 50;

	}
 ul {padding-top: 50px;
}
margin: 0;}
 ul li a{text-decoration: none;}

.anim{
 	width: 20%;
 }
div{
 	
 	margin: 30px;
 	float: left;

 	 
 }
 img {
 	margin: 20px
 }
 figcaption{
 	color: white;
 }
 
 
 ul.menu li:nth-child(2)	{
	font-size : 1.4vw;
}
}

.menu li:hover{
  background-color:#f2f2f2;
}


.menu li a {
  text-decoration: none;
  color:RGB(200,200,200);
  display:block;
  line-height: 46px;
  text-align: center;
  font-size:70%;
}

.menu li a:hover {
  color:black;
}

.menu {
  padding-top:0;
  margin:0;
  background-color:white;
}

.work {
      text-align: center;
      width: 80%;
}

.work img {
      margin: 1%;
      width: 45%;
}

header{
  background-color:#373640;
  position: fixed;
  width:100%;
  height:46px;
  min-height: 46px;
  top:0;
  left:0;
  z-index:1;
}
footer{
  background-color:#373640;
  color:white;
  text-align:center;
}
