html{
	--bg : black;
}

header{background-color: var(--bg);
    
    text-align: center;
  padding-bottom: 10px;}
  @font-face {font-family: quicksand;
                 src: url('quicksand/Quicksand-Regular.otf');}

ul li{
   
  display: inline-table;
margin-right : 5%;
height : 120%;

}

ul li a{
	color : white;
	background-color : var(--bg);
	text-align : center;
	text-decoration : none;
	display : block;
	line-height : 40px;
	width : 120%;
	
}

.work{
	margin : auto;
	width : 100%;
	text-align : center;
	
}



section{
	margin : auto;
	padding-left : 10%;
	padding-right : 10%;
}

.projet{
margin : 1%;
width : 45%;
float : left;
}

ul li a:hover{
	color:black;
	background-color : white;
}


body{font-family:quicksand;
	background-color: var(--bg);
	color: white;
	margin: 10px;

/*overflow-x: scroll;

			overflow-y: scroll;

			white-space:nowrap;  */

	

	}
.logo{
	width: 200px;
	
	margin-right: 0px;
	margin-left: 50px;
	margin-top: 0;
	margin-bottom: 50;

	}
 ul {
	 
  
}
margin: 0;}



.anim{
 	width: 50%;
 }
div{
 	
<<<<<<< HEAD:test1.css
 	margin: 60px;
 	margin-left: 200px;
=======
 	margin: auto;
>>>>>>> c4e4623350fc2b63a96ea5a762ae9200019d1c2d:site 2/test1.css
 	float: left;
 	

 	 
 }
 img {
 	margin: 20px
 }
 figcaption{
 	color: white;
 }